<h1>
  My Meetings
</h1>

<a href="/meetings/new">
  Add a new meeting
</a>

<hr>

<table class="table">
  <tr>
    <th>
      ID
    </th>

    <th>
      First participant Name
    </th>

    <th>
      Second participant Name
    </th>

    <th>
      Meeting Date
    </th>


    <th>
    </th>
  </tr>

  <% @meetings.each do |meeting| %>
    <% if meeting.in?(current_user.meetings1) || meeting.in?(current_user.meetings2) %>
  
    <tr>
      <td>
        <%= meeting.id %>
      </td>
  
      <td>
        <%= meeting.first_participant %>
      </td>
  
      <td>
        <%= meeting.second_participant %>
      </td>
  
      <td>
        <%= (meeting.meeting_date) %>
      </td>
  
      
      <td>
        <a href="/meetings/<%= meeting.id %>">
          Show details
        </a>
      </td>
    </tr>
    <% end %>
  <% end %>
</table>
