<h1>
  All meetings
</h1>

<a href="/meetings/new">
  Add a new meeting
</a>

<hr>

<table class="table">
  <tr>
    <th>
      ID
    </th>

    <th>
      First participant
    </th>

    <th>
      Second participant
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @meetings.each do |meeting| %>
    <% if meeting.in?(current_user.meetings1) || meeting.in?(current_user.meetings2) %>
  
    <tr>
      <td>
        <%= meeting.id %>
      </td>
  
      <td>
        <%= meeting.first_participant %>
      </td>
  
      <td>
        <%= meeting.second_participant %>
      </td>
  
      <td>
        <%= time_ago_in_words(meeting.created_at) %> ago
      </td>
  
      <td>
        <%= time_ago_in_words(meeting.updated_at) %> ago
      </td>
      
      <td>
        <a href="/meetings/<%= meeting.id %>">
          Show details
        </a>
      </td>
    </tr>
    <% end %>
  <% end %>
</table>
